.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  background-color: white;
  border-radius: 0.75rem;
}

.thead,
.tbody {
  display: block;
  padding: 0 1rem;
}

.tbody {
  overflow-y: auto;
  height: 27rem;
}

.table td {
  min-height: 2.6rem;
  align-items: center;
}

.thead th,
.tbody td {
  flex: 1;
}

.thead tr,
.tbody tr {
  display: flex;
  border-bottom-width: 1px !important;
}

.btn-pagination-disable {
  color: gray;
}
